*{
    margin: 0;
    padding: 0;
}
#hero{
    background: url(img/profile.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 2px solid red; */
  
}
.logo{
    color: #fff;
    font-size: 30px;
    font-family: 'Parisienne', cursive;
    position: absolute;
    top: 3%;
    left: 6%;
}
.list ul li{
    list-style: none;
    display: inline-block;
  margin-top: 30px;
  padding-right:80px ;
}
.list ul li a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}
.list ul li a:hover{
    background: whitesmoke;
    color: black;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}
.text{
    position: absolute;
    top: 45%;
    left:10%;
    text-align: center;
}
.text-decs h1{
    color: white;
    font-size: 50px;
    word-spacing: 5px;
    text-align: center;
}
.text-decs p{
    font-size: 15px;
    color: white;
    padding-top: 5px;
    letter-spacing: 5px;
}

.btn{
    margin-top: 10px;
    padding: 8px 30px;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 5px;
    text-transform: uppercase;
    background: dimgray;
    color: white;
    border: none;
}
.btn:hover{
    background: wheat;
    color: black;
    cursor: pointer;
}
.about{
    margin: 150px 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* border:1px solid red; */
}
.about-decs h1{
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 5px;
    padding-bottom: 10px;
    
}
.about-decs p{
    margin-bottom: 20px;
    font-size: 18px;
    font-style: italic;
}
.btn-2 a{
    text-decoration: none;
    color:whitesmoke;
    /* border: 1px solid black; */
    background: dimgray;
    padding: 10px 15px;
    font-size: 10px;
    font-weight:bold ;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.btn-2 a:hover{
    background: wheat;
    color: black;
}
.img-pic img{
    width:300px;
    height: 200px;
}

.service-desc{
    text-align: center;
}
.service-desc h1{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 2px;
}
.service-desc p{
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
    padding-bottom: 50px;
}
/* .service-card{
    width: 1000px;
} */
.service-icon{
   display:flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   margin: 30px 130px 130px;

}
.first-icon{
    text-align: center;
    width: 400px;
    height: 180px;
    background-color: darkgray;
}
.first-icon i{
    font-size: 25px;
    align-items: center;
    padding-top: 50px;
}
.second-icon{
    width: 400px;
    height: 180px;
    background-color: darkslategray;
    text-align: center;
}
.second-icon i{
    font-size: 25px;
    align-items: center;
    padding-top: 50px;
}
.third-icon{
    width: 400px;
    height: 180px;
    background-color: darkgray;
    text-align: center;
}
.third-icon i{
    font-size: 25px;
    align-items: center;
    padding-top: 50px;
}
#download{
    width: 100%;
    height: 18vh;
    background: darkgray;
}
.heir{
    text-align: center;
}
.heir h3{
    font-size: 20px;
    padding-top: 25px;
    font-weight: bold;
    padding-bottom: 18px;
}

.heir a{
    text-decoration: none;
    color:black;
    border: 1px solid black;
    padding:  8px 10px;
    background: dimgray;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}
.heir a:hover{
    background:wheat ;
}
#footer{
    width: 100%;
    height: 30vh;
    background: black;
}

.footer-desc{
    text-align: center;
    color: white;
    padding-top: 25px;
}
.footer-desc h1{
    font-size: 25px;
    font-weight: bold;
    word-spacing: 3px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
}

.footer-desc p{
    padding-bottom: 14px;
}
.footer-end h1{
    text-align: center;
    color: white;
    /* padding-bottom: 9px; */
}
.footer-icon{
    font-size: 20px;
    color: darkgray;
    text-align: center;
    padding: 10px 8px;
}
.footer-icon:hover{
    cursor: pointer;
}














